@font-face {
    font-family: "OngleleafJangkal";
    font-weight: 300;
    font-style: normal;
    src: url("https://cdn.jsdelivr.net/gh/wefonts/OngleleafJangkal/OngleleafJangkal.woff2") format("woff2"),
         url("https://cdn.jsdelivr.net/gh/wefonts/OngleleafJangkal/OngleleafJangkal.woff") format("woff"),
         url("https://cdn.jsdelivr.net/gh/wefonts/OngleleafJangkal/OngleleafJangkal.ttf") format("truetype");
    font-display: swap;
}

.OngleleafJangkal {
    font-family: "OngleleafJangkal";
}
